body { 
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0; 
    color: #f30707; 
} 
h1 { 
    color: #007BFF; 
} 
 
p { 
    font-size: 18px; 
} 

/* menu */
header {
    border-style:dotted
}